# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Streamlit secrets
.streamlit/secrets.toml

# Logs
*.log

# Environment variables
.env

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Mac/Linux temp
*.swp

# Runtime data
data/*
!data/.gitkeep

# R temporary files
.Rhistory
.RData
.Rproj.user/
